.inicio-container{
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 100vw;
    height: 100vh;
}
.login-text-holder{
    display: grid;
    grid-template-rows: 2fr 2fr;
    justify-content: center;
    align-items: center;
    height: 75vh;
}
.text-holder:nth-of-type(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-button-holder{
    width: 75%;
    padding: 0.6rem;
    margin: 2rem 0;
    background-color: var(--color-primary-lighter);
    transition: 0.3s;
    border-radius: 4px;
}
.text-button-holder:hover{
    width: 100%;
    margin: 2rem 0;
    background-color: var(--color-primary-lighter);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.text-button-holder a{
    text-decoration: none;
    font: 500 1.5rem Mukta;
    color: var(--color-primary-darker);

}
.login-form-content{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary-lighter);
}
.login-form-holder{
    width: 75%;
}
.login-form-holder img{
    width: 100%;
    height: auto;
}
.login-button-holder{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-button{
    width: 25%;
    padding: 0.6rem;
    margin: 2rem 0;
    background-color: var(--color-primary-lighter);
    transition: 0.3s;
    border-radius: 4px;
    border: 1px solid rgb(30,30,30,0.2);
}
.login-button:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media(max-width: 1200px){
    .inicio-container{
        grid-template-columns: none;
        grid-template-rows: 2fr 2fr;
        overflow-x: hidden;
    }
}